header {
    background-color: #424E61;
    color: white;
}
.cabecalho-imagem{
    width: 10% ;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 10%;
}
.escola-titulo{
    padding: 24px 0;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

body.{
roboto-slab-<uniquifier> 
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}